[flake8]
exclude = 
    # ignore init file
    src/hdb_resale_data/__init__.py,
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
